<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zj.composerefreshlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeRefreshLayout">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeRefreshLayout.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.BasicUsageActivity"
            android:theme="@style/Theme.ComposeRefreshLayout.NoActionBar" />
        <activity
            android:name=".sample.CustomHeaderActivity"
            android:theme="@style/Theme.ComposeRefreshLayout.NoActionBar" />
        <activity
            android:name=".sample.CustomLottieHeaderActivity"
            android:theme="@style/Theme.ComposeRefreshLayout.NoActionBar" />
        <activity
            android:name=".sample.FixedBehindHeaderActivity"
            android:theme="@style/Theme.ComposeRefreshLayout.NoActionBar" />
        <activity
            android:name=".sample.FixedFrontHeaderActivity"
            android:theme="@style/Theme.ComposeRefreshLayout.NoActionBar" />
        <activity
            android:name=".sample.FixedContentHeaderActivity"
            android:theme="@style/Theme.ComposeRefreshLayout.NoActionBar" />
    </application>

</manifest>